{
  "endOfLine": "lf",
  "iniSpaceAroundEquals": true,
  "overrides": [
    {
      "files": "*.plist",
      "options": {
        "bracketSameLine": true,
        "parser": "xml",
        "xmlSelfClosingSpace": true,
        "xmlWhitespaceSensitivity": "ignore"
      }
    }
  ],
  "printWidth": 100,
  "singleQuote": true
}
